<h2>Header</h2>

<%= link_to "Home", :controller => 'pages', :action => 'home' %>
<%= link_to "Pricing", :controller => 'pages', :action => 'pricing' %>
<%= link_to "Services", :controller => 'pages', :action => 'services' %>
<%= link_to "Contact", :controller => 'pages', :action => 'contact' %>

