<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | Optimal Workshop</title>
		<% csrf_meta_tag %>
	</head>
	<body>
		<div id="wrapper">
			<%= render "shared/header" %>
			<%= yield %>
			<%= render "shared/footer" %>
		</div>
	</body>
</html>
